/* variables */
:root {
    /*colors*/

    /*primary colors*/
    --primary-color: #FFA500;
    --primary-color-light: #FFCC80;
    --primary-color-dark: #FF8C00;

    /*sub colors*/
    --white: #FFFFFF;
    --light-gray: #F4F4F4;
    --light-dark: #333333;
    --lightxl-dark: #33333393;
    --light-gold: #FFD700;
    --dark-blue: #003366;
    --green-olive: #3D5A3E;


    /*fonts*/
    --lg-font: 2.5rem;
    --md-font: 1.5rem;
    --sm-font: 1.25rem;
}

::-webkit-scrollbar{
    background-color: #fff;
}
::-webkit-scrollbar-thumb{
    background: var(--primary-color-dark);
    border: 5px solid white;
    border-radius: 30px;
}
body.dark::-webkit-scrollbar{
    background-color: #000;
}
body.dark::-webkit-scrollbar-thumb{
    background: var(--primary-color-dark);
    border: 5px solid black;
    border-radius: 30px;
}

/*default settings*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

::selection{
    background-color: var(--primary-color-dark);
    color: var(--white);
}




/*nav customize start here---->*/
nav{
    background-color: var(--light-gray);
    height:100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    font-weight: 600;
    letter-spacing: 1.2px;
    padding: 0 65px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    -webkit-box-shadow: 3px 10px 36px -19px rgba(0, 0, 0, 0.25);
        -moz-box-shadow: 3px 10px 36px -19px rgba(0, 0, 0, 0.25);
        box-shadow: 3px 10px 36px -19px rgba(0, 0, 0, 0.25);
}

nav .left-side img{
    width: 200px;
}
nav .mid-side ul{
    display: flex;
    gap: 70px;
    font-size: var(--md-font);
    text-transform: uppercase;
    position: relative;
}

nav .mid-side ul li a{
    color: black;
    position: relative;
    z-index: 2;
    transition: .2s ease-out;
    padding: 10px;
    border-radius: 20px;
}
nav .right-side {
    display: flex;
}
nav .right-side button {
    font-size: 2rem;
    background-color: black;
    padding: 20px;
    color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 0;
    cursor: pointer;
    transition: .3s ease;
    margin-right: 10px;
}
nav .right-side button:hover {
    background-color: var(--light-gray);
    -webkit-box-shadow: inset 0px -1px 11px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: inset 0px -1px 11px 0px rgba(0, 0, 0, 0.75);
        box-shadow: inset 0px -1px 11px 0px rgba(0, 0, 0, 0.75);
    
}
nav .right-side button i{
    color: white;
}
nav .right-side button:hover > i{
    color: black;
}
nav .right-side .iconbox{
    display: none;
}
nav .right-side button .icon{
    width: 100%;
    height: 100%;
    background-color: var(--primary-color-dark);
    border-radius: 50% 0 50% 50%;
}

nav .default {
    position: absolute;
    width: 95px;
    height: 120%;
    left: 0;
    top: -2px;
    background-color: var(--primary-color-dark);
    padding: 10px;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 17px 0px rgba(255, 140, 0, 1);
    -moz-box-shadow: 0px 0px 17px 0px rgba(255, 140, 0, 1);
    box-shadow: 0px 0px 17px 0px rgba(255, 140, 0, 1);
}
nav ul li a:hover
{
    color: wheat !important;
}
.animation-hover {
    transition: .6s ease;

}

nav ul :nth-child(2):hover~.animation-hover {
    width: 165px;
    height: 120%;
    left: 22.9%;
}
nav ul :nth-child(3):hover~.animation-hover {
    width: 120px;
    height: 120%;
    left: 55.8%;
}
nav ul :nth-child(4):hover~.animation-hover {
    width: 130px;
    height: 120%;
    left: 82.3%;
}

@media screen and (max-width:1600px) {
    nav {
        height: 70px;
    }

    nav .left-side img {
        width: 150px;
    }

    nav .mid-side ul {
        font-size: var(--sm-font);
    }

    nav .default {
        left: -0;

    }

    .default {
        width: 86px !important;
    }

    nav ul :nth-child(2):hover~.animation-hover {
        width: 150px !important;
        height: 120%;
        left: 22.8%;
    }

    nav ul :nth-child(3):hover~.animation-hover {
        width: 100px !important;
        height: 120%;
        left: 56.5%;
    }

    nav ul :nth-child(4):hover~.animation-hover {
        width: 105px !important;
        height: 120%;
        left: 83.4%;
    }
}

/*----> nav customize end here*/


/*container customize*/
section .container {
    display: flex;
    justify-content: space-between;
    /* margin-top: 1%; */
    align-items: center;
    padding-left:155px;
    height: 85vh;
    position: relative;
}
section .details h3 {
    font-size: 6rem;
}
section .details p {
    color:var(--lightxl-dark);
    font-size:1.1rem;
    width:800px;
}
section .details h3 span {
    color: var(--primary-color-dark);
}
section .details a {
    color: beige;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}
section .details li {
    background-color: var(--light-dark);
    width: fit-content;
    padding: 20px;
    border-radius: 10px;
    margin-top:30px;
    transition: .3s ease;
    cursor: pointer;
}
section .details li:hover {
    background-color: var(--primary-color);
}
section .right-cont img{
    width:700px;
}
/*responsive conatiner*/

@media screen and (max-width:1600px) {
    section .container {
        /*flex-direction:  column-reverse;*/
        flex-wrap: wrap;
        padding: 0; 
        text-align: center;
        justify-content: space-between;
        padding-left: 155px;
    }
    section .container li {
        margin: 30px auto;
    }
    section .container {
        /* margin-bottom:80px; */
    margin: 0 0px;
    }
    section .container p {
        width: 500px;
    }
        section .right-cont img {
            width: 450px;
        }
}
@media screen and (max-width:1057px) {
    nav .right-side .iconbox{
        display: initial;
        transition: 0.3s ease;
    }
    
    nav .right-side .iconbox .icon{
        transition: 0.8s ease;
    }
    
    nav .right-side .iconbox .rot{
        -webkit-box-shadow: 0px 0px 17px 0px rgba(255, 140, 0, 1);
    -moz-box-shadow: 0px 0px 17px 0px rgba(255, 140, 0, 1);
    box-shadow: 0px 0px 17px 0px rgba(255, 140, 0, 1);
        rotate: 360deg;
    }
    
    nav .mid-side ul .animation-hover{
        display: none;
    }
    nav .mid-side ul{
        display: none;
    }

    nav .mid-side ul.show{
        position: absolute;
        display: inline-block;
        box-shadow: #0002 0 0 10px 1px;
        top: 50px;
        right: 170px;
        z-index: 100;
        background-color: var(--light-gray);
        width: 300px;
        border-radius: 30px;    
    }
    nav .mid-side ul li a{
        margin: 0;
        display: inline-block;
        width: 100%;
        line-height: 80px;
        text-align: center;
        font-weight: bold;
        position: relative;
    }
    nav .mid-side ul li a:hover,nav .mid-side ul li a.home{
        color: #FF8C00 !important;
        text-shadow: var(--primary-color-dark) 0 0 10px;
    }
    
    nav .mid-side ul li a.home::before{
        position: absolute;
        content: '';
        bottom: 15px;
        left: 50%;
        transform: translateX(-50%);
        width: 10px;
        height: 10px;
        background-color: #FF8C00;
        border-radius: 50%;
        -webkit-box-shadow: 0px 0px 17px 0px rgba(255, 140, 0, 1);
    -moz-box-shadow: 0px 0px 17px 0px rgba(255, 140, 0, 1);
    box-shadow: 0px 0px 17px 0px rgba(255, 140, 0, 1);
    }
    body.dark .mid-side ul {
        background-color: #2b2b2b;
    }
}
@media screen and (max-width:1200px) {
    section .container {
            /*flex-direction:  column-reverse;*/
            flex-wrap: wrap-reverse;
            margin: 120px 0;
            text-align: center;
            justify-content: space-between;
        padding-left: 20px;
        }
}

@media screen and (max-width:970px) {
    section .container {
            /*flex-direction:  column-reverse;*/
            margin: 120px 0;
            text-align: center;
            justify-content: center;
            padding-left: 20px;
        }
}


/*end container customize*/


/*footer*/
#main-footer {
    background-color: var(--light-dark);
    color: #ffffff;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
}

.footer-section {
    flex: 1 1 30%;
    margin: 0 20px;
    /* padding: 50px 0; */
}

.footer-section h3 {
    font-size: 1.5rem;
    color: var(--primary-color);
    margin-bottom: 15px;
}

.footer-section p,
.footer-section ul,
.footer-section li {
    font-size: 1rem;
    line-height: 1.8;
    color: #cccccc;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li a {
    text-decoration: none;
    color: var(--primary-color);
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: #ffffff;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #333;
    padding-top: 10px;
    font-size: 0.9rem;
}

.footer-bottom p {
    margin: 0;
    color: #888;
}

/*end footer*/


/*darkmode write here*/
body.dark {
    background-color: #000;
}
body.dark nav{
    background-color: #2b2b2b;
-webkit-box-shadow: -2px 3px 65px -38px rgba(255, 255, 255, 1);
    -moz-box-shadow: -2px 3px 65px -38px rgba(255, 255, 255, 1);
    box-shadow: -2px 3px 65px -38px rgba(255, 255, 255, 1);
}
body.dark nav ul li a{
    color: white;
}
body.dark .details p{
    color: rgba(255, 255, 255, 0.616);
}
body.dark header nav .right-side button{
    background-color: #fff;
    color: black;
}

body.dark section *{
    color: white;
}
